$color-text-white:#FFFFFF;
$color-bg-white:#FFFFFF;
$color-laguna:#136569;
$color-yellow:#E4B23B;
$color-down:#FDDB7D;
$color-text-purple:#771f64;
$color-text-green:#133648;
$color-text-black: black;

$color-error: rgb(187, 31, 31);


