@import "../scss/Main";

.renderData {
    margin-left: 10px;

    &__img {
        width: 20px;
    }

    &__title {
        margin: 10px 0;
        color: $color-yellow;
    }
}

.leftSide__li {
    margin-left: 25px;
    text-align: justify;
    font-size: $font-size-S;
}
