@import "../scss/Main";

.leftSide {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $color-laguna;
    color: $color-text-white;

    &__boxInformations {
        padding: 20px;
        font-size: $font-size-M;
    }

}